<div id = "about">
    <div class="about-box">
        <h2>About InnovateX</h2>
        <p>Welcome to <strong>InnovateX 2025</strong> – a premier global technology conference where innovation meets impact!</p>
        
        <h3>Our Mission</h3>
        <p>
          At InnovateX, we foster innovation through cutting-edge advancements in
          <strong>Artificial Intelligence, Blockchain, Cybersecurity, and Cloud Computing.</strong>
        </p>
        <h2>What to Expect</h2>
        <ul class="expect-list">
           <strong style="color:aqua">Inspiring Keynotes:</strong> Hear from world-renowned tech pioneers.<br/>
          <strong style="color: aqua;">Engaging Panels:</strong> Participate in thought-provoking discussions.<br/>
           <strong style="color: aqua
           ;">Hands-on Workshops:</strong> Gain practical experience in AI, blockchain, and cybersecurity.<br/>
           <strong style="color: aqua;">Networking Opportunities:</strong> Connect with like-minded professionals.<br/>
        </ul>
        <h3>Join Us</h3>
        <p>
          Be part of the change. <strong>Join us at InnovateX 2025!</strong>
        </p>
      </div>
    </div>
  